.footerPage {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerPage ul li {
    display: inline-block;
    margin-right: 32px;
}

.footerPage ul li:last-child {
    margin-right: 0;
}

.footerPage p {
    font-size: 26px;
    color: #FFF;
}

.footerPage a:hover {
    color: rgb(252, 252, 5);
}